@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("../assets/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0;
  padding: 0;
}